<mat-toolbar class="full-width">
  <!-- <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>OM KATE</span>
  <span class="example-spacer"></span>
  <button
    mat-button
    class="example-icon favorite-icon mr20"
    aria-label="Example icon-button with share icon"
    routerLink="/"
    style="--i: 1"
  >
    Home
  </button>

  <button
    mat-button
    class="example-icon favorite-icon mr20"
    aria-label="Example icon-button with share icon"
    routerLink="/about"
    style="--i: 2"
  >
    About Us
  </button>
  <button
    mat-button
    class="example-icon favorite-icon mr20"
    aria-label="Example icon-button with share icon"
    routerLink="/skills"
    style="--i: 3"
  >
    Skills
  </button>
  <button
    mat-button
    class="example-icon favorite-icon mr20"
    aria-label="Example icon-button with share icon"
    routerLink="/projects"
    style="--i: 4"
  >
    Projects
  </button>
</mat-toolbar>
