<div class="bootstrap-wrapper">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4">
        <mat-card>
          <img src="../../assets/AI_project_img" alt="" />

          <mat-card>
            <mat-card-header>
              <h1>AI Project</h1>
            </mat-card-header>
            <mat-card-subtitle>
              <h2>Languages:- Java, SQL, HTML, CSS, Typescript</h2>
            </mat-card-subtitle>
          </mat-card>
          <mat-card>
            <button mat-flat-button color="primary">Read More</button>
          </mat-card>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card>
          <img src="../../assets/general_img" alt="" />

          <mat-card>
            <mat-card-header>
              <h1>General Project</h1>
            </mat-card-header>
            <mat-card-subtitle>
              <h2>Languages:- Java, SQL, HTML, CSS, Typescript</h2>
            </mat-card-subtitle>
          </mat-card>
          <mat-card>
            <button mat-flat-button color="primary">Read More</button>
          </mat-card>
        </mat-card>
      </div>
      <div class="col-md-4">
        <mat-card>
          <img src="../../assets/face_detection_img" alt="" />

          <mat-card>
            <mat-card-header>
              <h1>Face Detection Project</h1>
            </mat-card-header>
            <mat-card-subtitle>
              <h2>Languages:- Java, SQL, HTML, CSS, Typescript</h2>
            </mat-card-subtitle>
          </mat-card>
          <mat-card>
            <button mat-flat-button color="primary">Read More</button>
          </mat-card>
        </mat-card>
      </div>
    </div>
  </div>
</div>
