<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mt20 text-center" style="--i: 1">
        <mat-card>
          <img src="../../assets/java.png" alt="" height="35%" width="35%" />

          <h1>Java</h1>
        </mat-card>
      </div>
      <div class="col-md-3 mt20 text-center" style="--i: 2">
        <mat-card>
          <img
            src="../../assets/database.png"
            alt=""
            height="35%"
            width="35%"
          />

          <h1>SQL</h1>
        </mat-card>
      </div>
      <div class="col-md-3 mt20 text-center" style="--i: 3">
        <mat-card>
          <img src="../../assets/js.png" alt="" height="35%" width="35%" />

          <h1>Javascript</h1>
        </mat-card>
      </div>
      <div class="col-md-3 mt20 text-center" style="--i: 4">
        <mat-card>
          <img src="../../assets/html-5.png" alt="" height="35%" width="35%" />

          <h1>HTML-5</h1>
        </mat-card>
      </div>
      <div class="col-md-3 mt20 text-center" style="--i: 5">
        <mat-card>
          <img src="../../assets/css.png" alt="" height="35%" width="35%" />

          <h1>CSS-3</h1>
        </mat-card>
      </div>
      <div class="col-md-3 mt20 text-center" style="--i: 6">
        <mat-card>
          <img src="../../assets/mysql.png" alt="" height="35%" width="35%" />

          <h1>MySQL</h1>
        </mat-card>
      </div>
      <div class="col-md-3 mt20 text-center" style="--i: 7">
        <mat-card>
          <img
            src="../../assets/springboot.png"
            alt=""
            height="35%"
            width="35%"
          />

          <h1>Spring Boot</h1>
        </mat-card>
      </div>
      <div class="col-md-3 mt20 text-center" style="--i: 8">
        <mat-card>
          <img src="../../assets/angular.png" alt="" height="35%" width="35%" />

          <h1>Angular</h1>
        </mat-card>
      </div>
    </div>
  </div>
</div>
