<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6 top-height-left">
        <h1 style="font-family: Arial" class="text1"><b>Hello, It's Me</b></h1>
        <h1 style="font-family: Arial; font-size: xxx-large" class="text2">
          <b>Om Kate</b>
        </h1>
        <h1 style="font-family: Arial" class="text3">
          <b>A Software Developer</b>
        </h1>

        <p class="text4">
          <i
            >A Software Developer with entry-level experience, specializing in
            user interface design, application development, data security, and
            continuous improvement. Adept at identifying opportunities to
            enhance the user experience and develop new features to improve app
            functionality.</i
          >
        </p>
        <div class="buttons">
          <a href="" class="ml20" style="--i: 1">
            <img src="../../assets/facebook.png" alt="facebook" />
          </a>
          <a href="" class="ml20" style="--i: 2">
            <img src="../../assets/linkedin.png" alt="linkedin" />
          </a>

          <a href="" class="ml20" style="--i: 3">
            <img src="../../assets/youtube.png" alt="youtube" />
          </a>
        </div>
      </div>
      <div class="col-md-6 top-height-right">
        <img src="../../assets/DeveloperPhoto.png" alt="Developer Photo" />
      </div>
    </div>
  </div>
</div>
